body {
  margin: 0px;
  padding: 0px;

}

h1 {
font-weight: normal;
color:aliceblue;

}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  background-color: #161616
}
.logo {
  height: 208px;
  width: 208px;
}
.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.email  {
  height: 62px;
  width: 411px;
  border-radius: 6px;
  padding-left: 18px;
  font-size: 16px;
  margin-top: 30px;
   
  color:blue;

  box-shadow: 4px 7px 8px 0px;

}

.password {
  height: 62px;
  width: 411px;
  border-radius: 6px;
  padding-left: 18px;
  font-size: 16px;
  margin-top: 52px;
  box-shadow: 4px 7px 8px 0px;

  color:blue;

}